body {
    background-color: black;
}

#register_user {
    justify-content: center;
    margin-top: 25%;
}

#chat {
    display: none;
    justify-content: center;
    height: 550px;
}

#message {
    border-radius: 10px;
    width: 1000px;
    margin-left: 5%;
}

#message_history {
    height: 100%;
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    border-style: groove;
    border-width: 5px;
    border-color: powderblue;
    border-radius: 2px;
}